{% extends 'base.html.twig' %}

{% block body %}

<p>Une erreur est survenue, votre paiement n'a pas pu être confirmé.</p>

<a href="mailto:admin@louvre.fr" class="btn btn-info" role="button">Contacter l'assistance</a>


{% endblock %}